<head>
    <title>너정말</title>
    <%= stylesheet_link_tag   "search_box" %>
</head>

<body style="background:rgba(0,0,0,0.04)">
    
 <!--   <div>   상단 바    </div>-->
    
    <div style="padding-top: 10em; padding-bottom: 50px; text-align: center; background: rgb(93,67,67)">
		<h1 style="font-size: 2em; margin: 0;">
			<img src="https://attach.s.op.gg/logo/20170213140201.7afd04243fd9e93afe005ca49d89d21e.png" title="탈것" alt="OP.GG Logo (탈것)">
		</h1>
	</div>
	
	<form style="display: block; margin-top: 10em;">
        <div class="search-wrapper active">
            <div class="input-holder">
                <input type="text" class="search-input" placeholder="Type to search" />
                <button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
            </div>
        </div>
    </form>
    
</body>